/* Coolors Exported Palette - https://coolors.co/723d46-d0dd8b-96aec7-4b6d91-083654 */

/* CSS HEX */
--wine: #723d46ff;
--mindaro: #d0dd8bff;
--powder-blue: #96aec7ff;
--lapis-lazuli: #4b6d91ff;
--prussian-blue: #083654ff;

/* CSS HSL */
--wine: hsla(350, 30%, 34%, 1);
--mindaro: hsla(70, 55%, 71%, 1);
--powder-blue: hsla(211, 30%, 68%, 1);
--lapis-lazuli: hsla(211, 32%, 43%, 1);
--prussian-blue: hsla(204, 83%, 18%, 1);

/* SCSS HEX */
$wine: #723d46ff;
$mindaro: #d0dd8bff;
$powder-blue: #96aec7ff;
$lapis-lazuli: #4b6d91ff;
$prussian-blue: #083654ff;

/* SCSS HSL */
$wine: hsla(350, 30%, 34%, 1);
$mindaro: hsla(70, 55%, 71%, 1);
$powder-blue: hsla(211, 30%, 68%, 1);
$lapis-lazuli: hsla(211, 32%, 43%, 1);
$prussian-blue: hsla(204, 83%, 18%, 1);

/* SCSS RGB */
$wine: rgba(114, 61, 70, 1);
$mindaro: rgba(208, 221, 139, 1);
$powder-blue: rgba(150, 174, 199, 1);
$lapis-lazuli: rgba(75, 109, 145, 1);
$prussian-blue: rgba(8, 54, 84, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #723d46ff, #d0dd8bff, #96aec7ff, #4b6d91ff, #083654ff);
$gradient-right: linear-gradient(90deg, #723d46ff, #d0dd8bff, #96aec7ff, #4b6d91ff, #083654ff);
$gradient-bottom: linear-gradient(180deg, #723d46ff, #d0dd8bff, #96aec7ff, #4b6d91ff, #083654ff);
$gradient-left: linear-gradient(270deg, #723d46ff, #d0dd8bff, #96aec7ff, #4b6d91ff, #083654ff);
$gradient-top-right: linear-gradient(45deg, #723d46ff, #d0dd8bff, #96aec7ff, #4b6d91ff, #083654ff);
$gradient-bottom-right: linear-gradient(135deg, #723d46ff, #d0dd8bff, #96aec7ff, #4b6d91ff, #083654ff);
$gradient-top-left: linear-gradient(225deg, #723d46ff, #d0dd8bff, #96aec7ff, #4b6d91ff, #083654ff);
$gradient-bottom-left: linear-gradient(315deg, #723d46ff, #d0dd8bff, #96aec7ff, #4b6d91ff, #083654ff);
$gradient-radial: radial-gradient(#723d46ff, #d0dd8bff, #96aec7ff, #4b6d91ff, #083654ff);