
h1.maintitle{
    text-transform: uppercase;
    font-weight: 100;
    text-align: center;
    padding: 30px 3px;
}
h2{
    font-weight: 200;
    text-align: center;
}
p.ui {
    font-size: 20px;
}
.uitext {
    padding-left: 30px;
    padding-right: 30px;
}
.palette {
    background-color: #e9e8e8;
    padding-top: 15px;
    padding-bottom: 15px;
}
.palette, .uses, .buttons {
    width: 70%;
    height: 100%;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 30px;
}
.color {
    width: 120px;
    height: 120px;
    margin: 30px 15px;
    display: inline-block; 
}
.color p {
    color:aliceblue;
    text-align: center;
}
.mint {
    background-color: #34cc9c;
}
.mindaro {
    background-color: #d0dd8bff;
}
.powder {
    background-color: #96aec7ff;
}
.lapis {
    background-color: #4b6d91ff;
}
.prussian {
    background-color: #083654ff;
}
.darkgray {
    background-color: #080f14;
}
.aliceblue {
    background-color: #f0f8ff;
    color: #080f14;
}
.aliceblue p {
    color: #080f14;
}


.logo img {
    width: 180px; 
    height: 180px;
      
}
.note {
    width: 140px; 
    height: 90px;
    border: 3px solid rgb(20, 160, 123); 
    border-radius:3px; 
    
}
.item {
    display: inline-block;   
    vertical-align: middle;
    text-align: center;   
    
}
span {
    font-weight: bold;
}
.bts .one, .two, .three {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px 5px;
    border-radius: 3px; 
}
.bts {
    width: 50%;
    margin: 0 auto;
    padding-left: 0;
}
.one {
    background-color: #34cc9c;
    color: #080f14ff;
}
.two {
    background-color: #083654ff;
    color: white;
}
.three {
    background-color: #96aec7ff;
    color: #080f14ff;
}
.btcolors {
    width: 50%;
    text-align: left;
    margin: 0 auto;  
}
.icons {
    width: 50%;
    margin: 0 auto;
    padding-left: 0; 
}
.icons li {
    display:inline-block;
    margin-left: 0; 
    text-align: center; 
    padding: 0 9px;
    padding: 9px;
}
.icons li img {
    width: 90px;   
}

.iconbox span {
    color: green; 
}
.buttons {
    background-color: #e9e8e8;
    padding-top: 15px;
    padding-bottom: 15px;
}
.buttons p {
    margin-top: 30px;
    margin-bottom: 30px;
}
.iconbox h2 {
    margin-bottom: 30px;
}
.fonts {
    width: 70%;
    margin: 0 auto;
    margin-bottom: 30px;
    padding-top: 15px;
    padding-bottom:15px;
    
}

.font {
    display: inline-block;
    margin-top: 30px;   
}
/* Inter */

.inter {
    font-family: Inter; 
}
.int1 {
    font-weight: 100;
}
.int2 {
    font-weight: 200;
}
.int3 {
    font-weight: 300;
}
.int4 {
    font-weight: 500;
}
/* Montserrat */

.montserrat {
    font-family: Montserrat, Arial, Helvetica, sans-serif;
}
.melight {
    font-weight: 200;
}
.melightitalic {
    font-weight: 200;
    font-style: italic;
}
.ml {
    font-weight: 400;

}
.mlitalic {
    font-weight: 400;
    font-style: italic;

}
.monmedium {
    font-weight: 500;
}

/* Courier */

.courier {
    font-family: "Courier Prime", 'Courier New', Courier, monospace;
}
.prime1 {
    font-weight: 400;
}
.prime2 {
    font-weight: 700;
}
.font ul {
    list-style-type: none;
}
.textstyles {
    width: 70%;
    margin: 0 auto;
    background-color: #e9e8e8;
    padding-top: 15px;  
    padding-bottom: 15px;
}
.h1main {
    font-family: Montserrat;
    font-weight: 500;
    font-size: 45px;
}
.textstyles ul {
    width: 50%;
    margin: 0 auto;
    list-style-type: none;
    margin-bottom: 30px;
}
.textstyles .textstyles h1, textstyles p {
    text-align: left;
}
.subheading {
    font-family: Inter;
    font-weight: 300;
    font-size: 30px;

}
.para {
    font-family: Roboto;
    font-weight: 400;
    font-size: 16px;
}
.roboto {
    font-family: Roboto;
    font-weight: 400;
    font-size: 16px;
}
.roital {
    font-style: italic;    
}
.subheading {
    text-align: left;
}
body {
    margin-bottom: 30px;
}

